@import "colors.scss";

.lost-container {
    #gif {
        max-width: 30%;
        max-height: 30%;
        border-radius: 0.5em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;

    h1 {
        background-color: $warning;
        color: $background;
        font-weight: 1000;
        font-size: 8em;
        padding: 0;
        padding-left: 0.2em;
        padding-right: 0.2em;
        font-style: italic;
        margin: 0.2em;
        margin-top: 0;
        border-radius: 0.4rem;
    }

    h2 {
        font-size: 1.8rem;
    }


    #button {
        background-color: $background;
        color: $accent;
        padding: 0.6em;
        border-radius: 0.4em;
        outline-style: solid;
    }

    #button:hover {
        background-color: $accent;
        color: $background;
        outline-color: $accent;
        padding: 0.6em;
        border-radius: 0.4em;
        outline-style: solid;
    }

    a,
    a:visited {
        padding: 0;
        border-radius: 0;
        text-decoration: none;
    }
}