// body, headings, etc.

html {
    background-color: $background;
    color: $on-background;
    font-family: "Inter";
}

// cool fade when the theme switches
body * {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: $primary;
    text-decoration-style: solid;
    text-underline-offset: 0.22em;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.15em;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: $on-background;

    // only style links
    &:not([class]):hover,
    &:not([class]):focus-visible,
    .hover:hover,
    .hover:focus-visible {
        background-color: $inverse-primary;
    }
}

// inside a blog post
.post {



    max-width: calc(min(760px, 100%));
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4em 0;
    margin: 0 auto;

    code {
        // TODO
        color: Red;
    }
}