@import "colors.scss";

.button {
    background-color: $background;
    color: $primary;
    padding: 0.4em;
    border-radius: 0.4em;
    outline-style: solid;

    a {
        color: $primary;
    }
}

.button:hover {
    background-color: $primary;
    padding: 0.4em;
    border-radius: 0.4em;
    outline-style: solid;

    a {
        color: $background;
        text-decoration: none;
    }
}