$light-bg: #f7f7f7; // the background of the page only!
$light-accent:
    /*#00563b*/
    #62bd65; // highlighted text, buttons, etc.
$light-text: #0d0a0b; // text
$light-outline: #e0e0e0; // faint outline of things :)

// i'm not using `var(--stuff)` to get things everywhere.
// lemme know if you can do this statically without that
$dark-bg: #111111;
$dark-accent: $light-accent;
$dark-text: #f7f7f7;
$dark-outline: #1f1f1f;

$do-it: #00cc66;
$info: #576ca8;
$caution: #c59849;
$warning: #ef3e36;

$background: $light-bg;
$accent: $light-accent;
$text: $light-text;
$outline: $light-outline;
// TODO: container background/fg???