// Note: dump $primary into this website for new Material You colors...
// https://m3.material.io/theme-builder#/custom


// Color theming
$primary: #386a1f;
$secondary: #55624c;
$tertiary: #386666;
$error: #ba1a1a;
$background: #fdfdf5;
$outline: #74796d;
$text: #191c1a;

$primary-text: #113800;

$secondary-text: #ffffff;

$error-text: #690005;

// (for codeblock strings, from #ffc482)
$codeblock-string: #875200;
$codeblock-string-text: #482900;
$codeblock-string-container: #673d00;
$codebloack-string-container-text: #2b1700;

// Container theming
$primary-container: #205106;
$primary-container-text: #b8f397;

$secondary-container: #d9e7cb;
$secondary-container-text: #131f0d;

$tertiary-container: #bfe9f8;
$tertiary-container-text: #002020;

$error-container: #93000a;
$error-container-text: #ffdad6;

$outline-container: #e0e4d6;

// DEPRECATED: OLD COLORS
$light-bg: #f7f7f7; // the background of the page only!
$light-accent:
    /*#00563b*/
    #62bd65; // highlighted text, buttons, etc.
$light-text: #0d0a0b; // text
$light-outline: #e0e0e0; // faint outline of things :)

// i'm not using `var(--stuff)` to get things everywhere.
// lemme know if you can do this statically without that
$dark-bg: #111111;
$dark-accent: $light-accent;
$dark-text: #f7f7f7;
$dark-outline: #1f1f1f;

$do-it: #00cc66;
$info: #576ca8;
$caution: #c59849;
$warning: #ef3e36;

//$background: $light-bg;
//$accent: $light-accent;
//$text: $light-text;
//$outline: $light-outline;
// TODO: container background/fg???