@import "colors.scss";

h1 {
    text-align: center;
    padding: 2em;
    margin: 0;
    font-size: 32px;
    font-weight: 800;
}

p {
    line-height: 1.5em;
}

#hi {
    text-decoration: underline $text 0.15em;
    color: $primary-container;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-container {
        max-width: min(768px, 100%);
        display: grid;
        grid-template-columns: 30% 70%;

        .left {
            grid-column: 1;
            align-self: center;
            padding: 10%;
            max-width: 12em;
        }

        .right {
            grid-column: 2;
            justify-content: center;
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
}