@use "./colors.scss" as *;

// rainbow barf thing
@keyframes button-fade {
    from {
        background: $container-background-color;
        color: $text-color;
    }
    to {
        animation: color-change-5x;
    }
}

@keyframes color-change-5x {
    0% {
        background: #19dcea;
    }
    25% {
        background: #b22cff;
        color: black;
    }
    50% {
        background: #ea2222;
        color: black;
    }
    75% {
        background: #f5be10;
        color: black;
    }
    100% {
        background: #3bd80d;
        color: black;
    }
}

// Text hover
