@use "sass:color";

@import "colors.scss";
@import "button.scss";
@import "macros/codeblock.scss";

.post {
    max-width: calc(min(760px, 100%));
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4em 0;
    margin: 0 auto;
}

code {
    background-color: $outline-container;
    border-radius: 0.2em;
    padding: 0.2em;
}

pre {
    border-radius: 0.4em;
    padding: 0.6em;
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: none;
    scrollbar-width: thin;

    outline: $outline 1.5px solid;
    border-radius: 0.2em;

    code {
        background-color: transparent;
        padding: 0;
    }
}

blockquote {
    border-left: 0.4em solid #ccc;
    margin: 0.5em 1em;
    padding: 0.2em;
    padding-left: 0.6em;
}

table {
    margin: 1em;
}

table,
th,
td {
    border: 0.15em solid $outline;
    border-collapse: collapse;
    text-align: center;
}

del {
    text-decoration-thickness: 2.4px;
    text-decoration-color: $error;
}

.footnote-definition {
    background: $secondary-container;
    border-radius: 0.8em;
    margin: 0.4em 0;

    display: flex;
    align-items: center;

    .footnote-definition-label {
        text-decoration: underline solid;
        background: $tertiary-container;
        padding: 0.4em 0.8em;
        border-radius: 0.8em;
        margin: 0 0.6em;
    }
}

p img,
object img,
object {
    max-width: 90%;
    max-height: 26em;
    border-radius: 0.8rem;
    margin: auto;
}

// for summary, warning, and any other future "blocky" shortcodes
.textblock {
    border-radius: 0.8em;
    display: block;
    padding: 1em;
    margin: 0.8em 0;

    .textblock-heading {
        padding: 0.2em 0;
        font-size: 18pt;
        font-weight: 600;
    }
}

.summary {
    background: $secondary-container;
    color: $secondary-container-text;
}

.warning {
    background: $warn-container;
    color: $warn-container-text;

    code {
        // i don't like workarounds but this is surprisingly fun
        background-color: color.adjust($warn, $saturation: -60%, $lightness: +40%);
    }
}