@use "sass:color";

@import "colors.scss";
@import "button.scss";
@import "macros/codeblock.scss";

.info {
    background: $secondary-container;
    padding: 2em;
    border-radius: 0.6em;
}

.date-and-tags {
    display: flex;
    align-items: center;

    p {
        margin: auto 0.6em;
    }

    .post-tags-container {
        display: flex;
        flex-direction: row;
        gap: 0.4em;

        .post-tag {
            outline-color: $outline;
            outline-width: 0.1em;
            outline-style: solid;
            border-radius: 0.4em;
            padding: 0.2em;
            margin: 0;
        }
    }
}

.post-desc {
    padding-bottom: 0.8em;
}

.toc {
    #toc-cb {
        display: none; // removes the checkbox

        #text {
            padding: none;
            margin: none;
        }
    }

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    padding: 0.6em;
    color: adjust-color($primary, $lightness: 20%);

    .toc-button {
        justify-self: right;
        display: block;
        min-width: 14.45em;

        .toc-btn-icon {
            padding-right: 0.6em;
        }

        // show/hide text + icon
        #show-toc {
            display: block;
        }

        #hide-toc {
            display: none;
        }
    }

    .toc-list {
        display: none;
        padding-left: 1em;
        padding-bottom: 1em;
    }

    #toc-cb:checked~.toc-list {
        display: block;
    }

    // show/hide text + icon, swapped
    #toc-cb:checked~.btn-wrapper-primary #show-toc {
        display: none;
    }

    #toc-cb:checked~.btn-wrapper-primary #hide-toc {
        display: block;
    }

    // get rid of ugly spaces
    ul {
        padding: 0 auto;
        margin: 0 auto;
    }
}

.post {
    max-width: calc(min(760px, 100%));
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4em 0;
    margin: 0 auto;
}

code {
    background-color: $outline-container;
    border-radius: 0.2em;
    padding: 0.2em;
}

pre code {
    background-color: transparent;
}

pre {
    border-radius: 0.4em;
    padding: 0.6em;
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: none;
    scrollbar-width: thin;

    outline: $outline 1.5px solid;
    border-radius: 0.2em;
}

.post-title {
    font-size: 2.4em;
    line-height: 1em;
}

blockquote {
    border-left: 0.4em solid #ccc;
    margin: 0.5em 1em;
    padding: 0.2em;
    padding-left: 0.6em;
}

table {
    margin: 1em;
}

table,
th,
td {
    border: 0.15em solid $outline;
    border-collapse: collapse;
    text-align: center;
}

.footnote-definition {
    background: $secondary-container;
    border-radius: 0.8em;
    margin: 0.4em 0;

    display: flex;
    align-items: center;

    .footnote-definition-label {
        text-decoration: underline solid;
        background: $tertiary-container;
        padding: 0.4em 0.8em;
        border-radius: 0.8em;
        margin: 0 0.6em;
    }
}

p img,
object img,
object {
    max-width: 90%;
    max-height: 26em;
    border-radius: 0.8rem;
    margin: auto;
}

// for summary, warning, and any other future "blocky" shortcodes
.textblock {
    border-radius: 0.8em;
    display: block;
    padding: 1em;
    margin: 0.8em 0;

    .textblock-heading {
        padding: 0.2em 0;
        font-size: 18pt;
        font-weight: 600;
    }
}

.summary {
    background: $secondary-container;
    color: $secondary-container-text;
}

.warning {
    background: $warn-container;
    color: $warn-container-text;

    code {
        // i don't like workarounds but this is surprisingly fun
        background-color: color.adjust($warn, $saturation: -60%, $lightness: +40%);
    }
}