@import "colors.scss";

.btn-disabled {
    margin: 0;
    padding: 0;

    .btn,
    .extended-fab-btn {
        background-color: $outline-container;
        color: darken(white, 30%);
    }
}

.btn-wrapper {

    a:hover,
    a:active {
        background: lighten($primary, $amount: 1);
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn-wrapper-primary {
    .btn {
        background-color: $primary;
        color: white;
    }

    a:hover,
    a:active {
        background: lighten($primary, $amount: 1);
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.2em;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    img {
        display: flex;
        justify-content: center;
        justify-self: center;
    }
}

.extended-fab-btn {
    @extend .btn;
    border-radius: 0.8rem;
    padding: 0.8em;

    display: inline-flex;
    align-items: center;


    img {
        height: 2.4rem;
        width: 2.4rem;
        padding-right: 0.4em;
    }
}

.btn-wrapper-tertiary-container {
    .btn {
        background-color: $tertiary-container;
        color: $tertiary-container-text;
    }

    a:hover,
    a:active {
        background: lighten($tertiary-container, $amount: 1);
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn-wrapper-secondary-container {
    .btn {
        background-color: $secondary-container;
        color: $secondary-container-text;
    }

    a:hover,
    a:active {
        background: lighten($secondary-container, $amount: 1);
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }


}

.btn-wrapper-primary-container {
    .btn {
        background-color: $primary-container;
        color: $secondary-container-text;
    }

    a:hover,
    a:active {
        background: lighten($primary-container, $amount: 1);
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}