@import "colors.scss";

.btn-disabled {
    margin: 0;
    padding: 0;

    .btn,
    .extended-fab-btn {
        background-color: var(--outline-container);
        color: darken(white, 30%);
    }
}

.btn-wrapper {

    a:hover,
    a:active {
        // background: lighten(var(--primary), $amount: 1); // TODO
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn-wrapper-primary {
    .btn {
        background-color: var(--primary);
        color: white;
    }

    a:hover,
    a:active {
        // background: lighten(var(--primary), $amount: 1); // TODO
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn-wrapper-secondary {
    .btn {
        background-color: var(--secondary);
        color: white;
    }

    a:hover,
    a:active {
        // background: lighten(var(--secondary), $amount: 1); // TODO
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn-wrapper-tertiary {
    .btn {
        background-color: var(--tertiary);
        color: var(--tertiary-text);
    }

    a:hover,
    a:active {
        //  background: lighten(var(--tertiary), $amount: 1); //TODO
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.2em;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    outline: var(--outline) 1.5px solid;

    img {
        display: flex;
        justify-content: center;
        justify-self: center;
    }
}

.extended-fab-btn {
    @extend .btn;
    border-radius: 0.8rem;
    padding: 0.8em;

    display: inline-flex;
    align-items: center;


    img {
        height: 2.4rem;
        width: 2.4rem;
        padding-right: 0.4em;
    }
}

.btn-wrapper-tertiary-container {
    .btn {
        background-color: var(--tertiary-container);
        color: var(--tertiary-container-text);
    }

    a:hover,
    a:active,
    a:focus-visible {
        // background: lighten(var(--tertiary-container), $amount: 1); // TODO
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn-wrapper-secondary-container {
    .btn {
        background-color: var(--secondary-container);
        color: var(--secondary-container-text);
    }

    a:hover,
    a:active,
    a:focus-visible {
        //  background: lighten(var(--secondary-container), $amount: 1); TODO
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }


}

.btn-wrapper-primary-container {
    .btn {
        background-color: var(--primary-container);
        color: var(--secondary-container-text);
    }

    a:hover,
    a:active,
    a:focus-visible {
        // background: lighten(var(--primary-container), $amount: 1); // TODO
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}

.btn-wrapper-transparent {
    .btn {
        background-color: transparent;
        color: var(--text);
    }

    a:hover,
    a:active,
    a:focus-visible {
        // background: lighten(var(--primary-container), $amount: 1); // TODO
        color: var(--primary-container-text);
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}