$dark-primary: #9dd67d;
$dark-primary-text: #113800;
$dark-primary-container: #205106;
$dark-primary-container-text: #b8f397;

$dark-secondary: #bdcbb0;
$dark-secondary-text: #283420;
$dark-secondary-container: #3e4a35;
$dark-secondary-container-text: #d9e7cb;

$dark-tertiary: #bbebec;
$dark-tertiary-text: #003738;
$dark-tertiary-container: #1e4e4e;
$dark-tertiary-container-text: #bbebec;

$dark-error: #ffb4ab;
$dark-error-text: #690005;
$dark-error-container: #93000a;
$dark-error-container-text: #ffdad6;

$dark-codeblock-string: #ffb865;
$dark-codeblock-string-text: #482900;
$dark-codeblock-string-container: #673d00;
$dark-codeblock-string-container-text: #ffddba;

$dark-background: #1a1c18;
$dark-text: #e3e3dc;

$dark-outline: #8d9286;
$dark-outline-container: #43483e;