@media (prefers-color-scheme: dark) {
    :root {
        --primary: #9dd67d;
        --primary-text: #113800;
        --primary-container: #205106;
        --primary-container-text: #b8f397;

        --secondary: #bdcbb0;
        --secondary-text: #283420;
        --secondary-container: #3e4a35;
        --secondary-container-text: #d9e7cb;

        --tertiary: #bbebec;
        --tertiary-text: #003738;
        --tertiary-container: #1e4e4e;
        --tertiary-container-text: #bbebec;

        --error: #ffb4ab;
        --error-text: #690005;
        --error-container: #93000a;
        --error-container-text: #ffdad6;

        --codeblock-string: #ffb865;
        --codeblock-string-text: #482900;
        --codeblock-string-container: #673d00;
        --codeblock-string-container-text: #ffddba;

        --background: #1a1c18;
        --text: #e3e3dc;

        --outline: #8d9286;
        --outline-container: #43483e;
    }
}