@import "colors.scss";
@import "animations.scss";

header {
    .cbox {
        display: none;
    }

    .nav-container {
        margin: 0 auto;
        background: $secondary-container;
        border-radius: 12px;
        overflow: hidden;
        box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.1),
            0px 4px 6px rgba(0, 0, 0, 0.1),
            0px 10px 20px rgba(0, 0, 0, 0.1);

        .header-bar {
            width: 100%;
            height: 3.6em;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            flex-wrap: wrap;
            align-items: center;



            // LEFT: logo
            .left-section {
                position: absolute;

                #header-icon {
                    width: 2.5em;
                    height: 2.5em;
                    margin-left: 0.4em;
                }
            }

            // MIDDLE: nav links
            .nav-list-container {
                grid-column: 2;
                display: grid;
            }

            // RIGHT: menu icon (mobile only) + dark mode icon
            // no menu icon by default.
            .right-section {
                margin-left: auto;
                display: grid;
                grid-column: 3;
                justify-self: end;

                .header-buttons {
                    text-align: center;
                    display: flex;

                    :hover {
                        cursor: pointer;
                    }

                    .header-btn {
                        padding-left: 1em;
                        padding-right: 1em;
                    }

                    i {
                        line-height: 1.6em;
                    }
                }
            }
        }

        .nav-list {
            color: $secondary-container-text;
        }

        // COMPUTER
        // hide overflow button
        #nav-overflow-button {
            display: none;
        }

        // hide mobile links
        .mobile-nav-container {
            visibility: hidden;
            display: none;
        }

        // PHONE
        @media (max-width: 768px) {
            min-height: 3.6em;

            .mobile-nav-container {
                display: flex;
                max-height: 500px;
                overflow: hidden;
                transition: max-height 0.5s ease;
                visibility: visible;

                &.collapsed {
                    max-height: 0;
                }

                &.no-transition {
                    transition: none;
                }

                .mobile-navigation {
                    width: 100%;

                    .nav-list-mobile {
                        padding: 0;
                        margin: 0;

                        li {
                            width: 100%;

                            a {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }

                &.visible {
                    max-height: 500px; 
                    opacity: 1; 
                    visibility: visible; 
                    display: flex;
                }
            }

            // hide desktop navigation completely
            .nav-list {
                display: none;
                height: auto;
            }

            // show mobile nav by default
            #nav-overflow-button {
                display: flex;

                .overflow-icon {
                    margin-right: 0.8em;
                }
            }

            .nav-button {
                width: auto;
            }

        }


    }
}