@import "colors.scss";
@import "animations.scss";

.nav-container {
    margin: 0 auto;
    background: $background;
    border-radius: 12px;
    overflow: hidden;
    // https://getcssscan.com/css-box-shadow-examples
    //box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.main-header .nav-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-bar ul {
    text-align: center;
    margin: 0em;
    padding-left: 0;
}

.header-bar li {
    display: inline-flex;
    padding-left: 0em;
    margin: 0em;
    margin-right: -0.3em;
}

.header-bar a {
    display: block;
    padding: 1.2em 1.5em;

    font-weight: 500;
    text-decoration: normal;
    text-decoration-style: none;
    text-decoration-line: none;
}

.header-bar a:hover {
    animation: color-change-5x 2s linear infinite alternate both;
    animation-duration: 2s;
}