@import "colors.scss";

$max_width: 42em;

.title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sect-div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: inherit;

    padding: 0;
    margin: 0;
    margin-bottom: 4em;
}

.info {
    width: 100%;
    box-sizing: border-box;

    @media (min-width: 768px) {
        max-width: $max_width;
        width: 1.1 * $max_width;
    }

    padding: 1.4em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.2em;
    background-color: var(--tertiary-container);
    border-radius: 1.4em;
}

.left {
    .section-header {
        font-size: 2em;
        color: var(--tertiary-container-text);
    }

    display: flex;
    flex-direction: column;
    grid-column: 1;
    align-self: center;
}

.right {
    grid-column: 2;
    margin-left: auto;
    align-self: center;
}

.recent {
    .posts-preview-container ul {
        // get rid of list formatting
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .posts-preview-container li {
        width: 100%;
        max-width: $max_width; // completely arbitrary but looks fine i guess lmao
    }
}

.soon {
    max-width: 95%;
    text-align: center;
    padding: 8em 0;
    margin: 0;
    word-wrap: break-word;

}