$light-primary: #386a1f;
$light-primary-text: #ffffff;
$light-primary-container: #b8f397;
$light-primary-container-text: #072100;

$light-secondary: #55624c;
$light-secondary-text: #ffffff;
$light-secondary-container: #d9e7cb;
$light-secondary-container-text: #131f0d;

$light-tertiary: #386666;
$light-tertiary-text: #ffffff;
$light-tertiary-container: #bbebec;
$light-tertiary-container-text: #002020;

$light-error: #ba1a1a;
$light-error-text: #ffffff;
$light-error-container: #ffdad6;
$light-error-container-text: #410002;

$light-codeblock-string: #875200;
$light-codeblock-string-text: #ffffff;
$light-codeblock-string-container: #ffddba;
$light-codeblock-string-container-text: #2b1700;

$light-background: #fdfdf5;
$light-text: #1a1c18;

$light-outline: #74796d;
$light-outline-container: #e0e4d7;