:root {
    --primary: #386a1f;
    --primary-text: #ffffff;
    --primary-container: #b8f397;
    --primary-container-text: #072100;

    --secondary: #55624c;
    --secondary-text: #ffffff;
    --secondary-container: #d9e7cb;
    --secondary-container-text: #131f0d;

    --tertiary: #386666;
    --tertiary-text: #ffffff;
    --tertiary-container: #bbebec;
    --tertiary-container-text: #002020;

    --error: #ba1a1a;
    --error-text: #ffffff;
    --error-container: #ffdad6;
    --error-container-text: #410002;

    --codeblock-string: #875200;
    --codeblock-string-text: #ffffff;
    --codeblock-string-container: #ffddba;
    --codeblock-string-container-text: #2b1700;

    --background: #fdfdf5;
    --text: #1a1c18;

    --outline: #74796d;
    --outline-container: #e0e4d7;
}