@import "colors.scss";

.title {
    text-align: center;
}

.preview-container ul {
    // get rid of list formatting
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
}

.preview-container li {
    width: 100%;
    max-width: 42em; // completely arbitrary but looks fine i guess lmao

    @media (max-width: 768px) {
        max-width: 90%;
    }
}

.post-preview {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    // Media Query for smaller screens
    @media (max-width: 600px) {
        max-width: 100%; // Take full width on smaller screens
        padding: 5pt; // Reduce padding
    }

    overflow: hidden;
    background-color: $background;

    border-radius: 12pt;
    margin: 1em;
    padding: 1em;

    color: $text;
    outline: 0.1em solid $outline;
    background-clip: content-box;
    overflow: hidden;

    // remove the bullet points n stuff
    ul,
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .post-title {
        font-size: 1.8em;
        font-weight: 900;
        text-decoration: none;
    }

    // The little list of tags on every post
    .post-tags-container {
        padding: 4pt;
        height: flex;
        flex-wrap: wrap;

        .post-tag {
            outline-color: $outline;
            outline-width: 0.1em;
            outline-style: solid;

            display: inline-block;
            background-color: $background;
            padding: 6pt;
            margin: 1pt;
            border-radius: 8pt;
        }
    }

    .read-more {
        padding: 8pt;
        float: right;
        text-decoration: none;
        background-color: $accent;
        border-radius: 15%;

        background-color: $background;
        color: $accent;
        padding: 0.6em;
        border-radius: 0.4em;
        outline-style: solid;

        a {
            text-decoration: none;
            color: $accent;
        }
    }

    .read-more:hover {
        background-color: $accent;
        color: $background;
        outline-color: $accent;
        padding: 0.6em;
        border-radius: 0.4em;
        outline-style: solid;
    }
}
