html {
    line-height: 1.5em;
}

h1 {
    text-align: center;
    padding: 2em;
    margin: 0;
    font-size: 32px;
    font-weight: 800;
}

h2 {
    padding: 1em 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pp-container {
        max-width: min(768px, 95%);
    }
}