@import "colors.scss";

html {
    font-family: "cantarell", system-ui, "avenir next", arial, sans-serif;
    color: $text;
}

body {
    background-color: $background;
}

.title {
    font-weight: 900;
    font-size: 24pt;
    padding: 0.4em;
}

a:link,
a:visited {
    color: $accent;
    text-decoration: normal;
    text-decoration-style: none;
}

a:hover,
a:active {
    text-decoration: none;
    background-color: $accent;
    color: $background;
    background-color: $accent;
}

.content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
