// an scss variable shim. so i don't have to use these giant specifiers

$primary: var(--md-sys-color-primary);
$primary-text: var(--md-sys-color-primary);
$on-primary: var(--md-sys-color-on-primary);
$on-primary-text: var(--md-sys-color-on-primary);
$primary-container: var(--md-sys-color-primary-container);
$primary-container-text: var(--md-sys-color-primary-container);
$on-primary-container: var(--md-sys-color-on-primary-container);
$on-primary-container-text: var(--md-sys-color-on-primary-container);
$secondary: var(--md-sys-color-secondary);
$secondary-text: var(--md-sys-color-secondary);
$on-secondary: var(--md-sys-color-on-secondary);
$on-secondary-text: var(--md-sys-color-on-secondary);
$secondary-container: var(--md-sys-color-secondary-container);
$secondary-container-text: var(--md-sys-color-secondary-container);
$on-secondary-container: var(--md-sys-color-on-secondary-container);
$on-secondary-container-text: var(--md-sys-color-on-secondary-container);
$tertiary: var(--md-sys-color-tertiary);
$tertiary-text: var(--md-sys-color-tertiary);
$on-tertiary: var(--md-sys-color-on-tertiary);
$on-tertiary-text: var(--md-sys-color-on-tertiary);
$tertiary-container: var(--md-sys-color-tertiary-container);
$tertiary-container-text: var(--md-sys-color-tertiary-container);
$on-tertiary-container: var(--md-sys-color-on-tertiary-container);
$on-tertiary-container-text: var(--md-sys-color-on-tertiary-container);
$error: var(--md-sys-color-error);
$error-text: var(--md-sys-color-error);
$error-container: var(--md-sys-color-error-container);
$error-container-text: var(--md-sys-color-error-container);
$on-error: var(--md-sys-color-on-error);
$on-error-text: var(--md-sys-color-on-error);
$on-error-container: var(--md-sys-color-on-error-container);
$on-error-container-text: var(--md-sys-color-on-error-container);
$background: var(--md-sys-color-background);
$background-text: var(--md-sys-color-background);
$on-background: var(--md-sys-color-on-background);
$on-background-text: var(--md-sys-color-on-background);
$surface: var(--md-sys-color-surface);
$surface-text: var(--md-sys-color-surface);
$on-surface: var(--md-sys-color-on-surface);
$on-surface-text: var(--md-sys-color-on-surface);
$surface-variant: var(--md-sys-color-surface-variant);
$surface-variant-text: var(--md-sys-color-surface-variant);
$on-surface-variant: var(--md-sys-color-on-surface-variant);
$on-surface-variant-text: var(--md-sys-color-on-surface-variant);
$outline: var(--md-sys-color-outline);
$outline-text: var(--md-sys-color-outline);
$inverse-on-surface: var(--md-sys-color-inverse-on-surface);
$inverse-on-surface-text: var(--md-sys-color-inverse-on-surface);
$inverse-surface: var(--md-sys-color-inverse-surface);
$inverse-surface-text: var(--md-sys-color-inverse-surface);
$inverse-primary: var(--md-sys-color-inverse-primary);
$inverse-primary-text: var(--md-sys-color-inverse-primary);
$shadow: var(--md-sys-color-shadow);
$shadow-text: var(--md-sys-color-shadow);
$surface-tint: var(--md-sys-color-surface-tint);
$surface-tint-text: var(--md-sys-color-surface-tint);
$outline-variant: var(--md-sys-color-outline-variant);
$outline-variant-text: var(--md-sys-color-outline-variant);
$scrim: var(--md-sys-color-scrim);
$scrim-text: var(--md-sys-color-scrim);
$surface-dim: var(--md-sys-color-surface-dim);
$surface-bright: var(--md-sys-color-surface-bright);
$surface-container-lowest: var(--md-sys-color-surface-container-lowest);
$surface-container-low: var(--md-sys-color-surface-container-low);
$surface-container: var(--md-sys-color-surface-container);
$surface-container-high: var(--md-sys-color-surface-container-high);
$surface-container-highest: var(--md-sys-color-surface-container-highest);