{% import "macros/button.html" as button %} 
{% import "macros/page_switcher.html" as page_switcher %}
{% import "macros/freedom_time.html" as freedom_time %}
{% import "macros/post_card.html" as post_card %}

{% extends 'base.html' %} 
{% block content %} 

<h1 class="title">
    All Posts with Tag: 
    <i class="tag-name">
    {{ term.name | safe }}
    </i>
</h1>

<div class="preview-container">
    <ul>
        {% for page in paginator.pages %}
        <li>
            {{ post_card::post_card(page = page, origin = "posts") }}
        </li>
        {% endfor %}
    </ul>
</div>

{{ page_switcher::page_switcher() }}

{% endblock %}
