.article-suggestions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2em;

    .ars-parent {
        align-self: center;
        justify-self: center;
        margin: 1em 0;

        .ars-btn {
            min-width: 12.5em;
            min-height: 6em;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }

        .suggested-heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .suggested-label {
                font-size: 1.2rem;
                margin: 0.4em 0;
            }

            .suggested-icon {
                align-self: center;
                font-size: 1.2rem;
                font-weight: lighter;
            }
        }

        .suggested-title {
            font-weight: lighter;
            margin: 0;
        }
    }



    @media (min-width: 768px) {
        flex-direction: row;

        .previous-article {
            margin-right: auto;
        }

        .next-article {
            margin-left: auto;
        }
    }
}