.btn-wrapper {
    display: flex;
}

.btn {
    margin: 0;
    padding: 0.8em 1.46em;
    display: inline-flex;
    text-decoration: none;
    border-radius: 2rem;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-align: center;
    user-select: none;

    i,
    img {
        display: flex;
        padding: 0;
        padding-right: 8px;
        margin: 0;
    }

    .btn-label {
        padding: 0;
    }
}

// 'pill-style' buttons
.btn-filled {
    background-color: $primary;
    color: $on-primary;

    &:hover {
        background-color: var(--md-custom-color-btn-filled-hovered);
        box-shadow: $box-shadow-z1;
    }

    &:active,
    &:focus {
        background-color: var(--md-custom-color-btn-filled-pressed);
    }

    .btn-disabled {
        color: $on-surface;
        background-color: var(--md-custom-color-btn-filled-disabled);
    }
}

.btn-outlined {
    background-color: transparent;
    color: $primary;
    outline: $outline 1pt solid;

    &:hover {
        background-color: var(--md-custom-color-btn-outlined-hovered);
    }

    &:active,
    &:focus {
        background-color: var(--md-custom-color-btn-outlined-pressed);
    }

    &:focus {
        outline: $primary 1pt solid;
    }

    .btn-disabled {
        background-color: var(--md-custom-color-btn-outlined-disabled);
    }
}

/// a button without outlines, background color, or other features
/// until hovered/clicked on
.btn-text {
    background-color: transparent;
    color: $primary;

    &:hover {
        background-color: var(--md-custom-color-btn-text-hovered);
    }

    &:active,
    &:focus {
        background-color: var(--md-custom-color-btn-text-pressed);
    }

    .btn-disabled {
        color: var(--md-custom-color-btn-text-disabled);
    }
}

.btn-elevated {
    background-color: $surface-container-low;
    color: $primary;
    box-shadow: $box-shadow-z1;

    &:hover {
        background-color: var(--md-custom-color-btn-elevated-hovered);
        box-shadow: $box-shadow-z2;
    }

    &:active,
    &:focus {
        background-color: var(--md-custom-color-btn-elevated-pressed);
    }

    .btn-disabled {
        color: $on-surface;
        background-color: var(--md-custom-color-btn-elevated-disabled);
        box-shadow: none;
    }
}

.btn-tonal {
    background-color: $secondary-container;
    color: $on-secondary-container;

    &:hover {
        background-color: var(--md-custom-color-btn-tonal-hovered);
        box-shadow: $box-shadow-z1;
    }

    &:active,
    &:focus {
        background-color: var(--md-custom-color-btn-tonal-pressed);
    }

    .btn-disabled {
        color: $on-surface;
        background-color: var(--md-custom-color-btn-tonal-disabled);
    }
}

.extended-fab-btn {
    @extend .btn;

    border-radius: 0.8rem;
    padding: 0.8em;
    display: inline-flex;
    align-items: center;

    .btn-label {
        padding: 0;
    }

    img {
        height: 2.4rem;
        width: 2.4rem;
        padding-right: 0.4em;
    }
}

.fab-surface {
    background-color: $surface-container;
    color: $on-surface;

    &:hover,
    &:focus {
        filter: brightness(92%);
        box-shadow: $box-shadow-z2;
    }
}

.ars-btn {

    &:hover,
    &:focus {
        color: $on-primary-container;
        background-color: $primary-container;
    }

}

// a floating action button with only an icon!
.small-fab-btn {
    outline: none;
    padding: 1.4rem; // i eyeballed this. be careful out there
    border-radius: 0.8rem;
    text-decoration: none;

    i {
        display: flex;
        padding: 0;
        margin: 0;
    }
}

.small-fab-btn-disabled {
    outline: none;
    padding: 1.4rem;
    border-radius: 0.8rem;
    background: $surface-container-low;
    color: $outline;
}

.btn-surface {
    background-color: $surface-container-high;
    color: $primary;
    box-shadow: $box-shadow-z1;
    outline: none;

    &:hover,
    &:focus {
        box-shadow: $box-shadow-z2;
    }

    &:active {
        // TODO
    }
}