@use "sass:color";

.btn-wrapper {
    display: flex;
}

.btn {
    margin: 0;
    padding: 0.8em 1.46em;
    display: inline-flex;
    text-decoration: none;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    outline: $outline 1.5px solid;
    justify-content: center;
    align-items: center;
    text-align: center;

    i {
        display: flex;
        padding: 0;
        padding-right: 8px;
        margin: 0;
    }

    img {
        display: flex;
        justify-content: center;
        justify-self: center;
    }

    .btn-label {
        padding: 0;
    }
}



// 'pill-style' buttons
.btn-filled {
    background-color: $primary;
    color: $on-primary;
    outline: none;

    &:hover,
    &:focus {
        filter: brightness(92%);
        box-shadow: $box-shadow-z2;
    }
}


.btn-tonal {
    background-color: $secondary-container;
    color: $on-secondary-container;
    outline: none;
    box-shadow: $box-shadow-z1;

    &:hover,
    &:focus {
        filter: brightness(108%);
        box-shadow: $box-shadow-z2;
    }
}

/// a button without outlines, background color, or other features
/// until hovered/clicked on
.btn-text {
    background-color: transparent;
    color: $primary;
    outline: none;

    &:hover,
    &:focus {
        background: var(--md-sys-color-primary-hover-008);
    }
}

.btn-outlined {
    background-color: transparent;
    color: $primary;
    outline: $outline 1px solid;

    &:hover,
    &:focus {
        background-color: $on-secondary;
        box-shadow: $box-shadow-z1;
    }
}

.extended-fab-btn {
    @extend .btn;

    border-radius: 0.8rem;
    padding: 0.8em;
    display: inline-flex;
    align-items: center;

    .btn-label {
        padding: 0;
    }

    img {
        height: 2.4rem;
        width: 2.4rem;
        padding-right: 0.4em;
    }
}

.fab-surface {
    background-color: $surface-container;
    color: $on-surface;

    &:hover,
    &:focus {
        filter: brightness(92%);
        box-shadow: $box-shadow-z2;
    }
}

.ars-btn {

    &:hover,
    &:focus {
        color: $on-primary-container;
        background-color: $primary-container;
    }

}

// a floating action button with only an icon!
.small-fab-btn {
    outline: none;
    padding: 1.4rem; // i eyeballed this. be careful out there
    border-radius: 0.8rem;
    text-decoration: none;

    i {
        display: flex;
        padding: 0;
        margin: 0;
    }
}

.small-fab-btn-disabled {
    outline: none;
    padding: 1.4rem;
    border-radius: 0.8rem;
    background: $surface-container-low;
    color: $outline;
}

.btn-surface {
    background-color: $surface-container-high;
    color: $primary;
    box-shadow: $box-shadow-z2;

    &:hover,
    &:focus {
        box-shadow: $box-shadow-z1;
    }

    &:active {
        box-shadow: none;
    }
}