[class^="language-"] {
    font-family: "Iosevka", monospace;
    font-size: 12pt;
    //background: white;
    color: $on-surface-variant;

    .z-storage,
    .z-type {
        color: $primary;
        font-weight: 700;
    }

    .z-string {
        color: $warn;
    }

    .z-operator,
    .z-assignment,
    .z-keyword {
        color: $secondary;
    }

    .z-constant,
    .z-language {
        color: $tertiary;
    }

    .z-comment {
        color: $outline;
    }

    .z-support {
        color: $error;
    }
}

.language-console {

    font-feature-settings: "calt" 0; // get rid of weird arrow (⤳) on fish shell's "barrett@fedora ~>"

    .z-text,
    .z-plain,
    .z-code {
        color: $primary-container;
    }
}