//! # Navlist
//!
//! The list of options on the navigation bar.

// applies to mobile + computer
.current {
    background: var(--md-sys-color-primary-hover-012);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center; // centered column
    height: 5em;
    margin: 0;

    // nav list stuff
    ul {
        text-align: center;
        margin: 0em;
        padding-left: 0;
    }

    li {
        display: inline-flex;
        margin: 0em;
        padding: 0em 0.2em;
    }

    a {
        display: block;
        font-weight: 500;
        text-decoration: none;
    }
}

// MOBILE NAV LIST

.nav-list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
        justify-content: center;
    }

    .mobile-navigation {
        display: flex;
        width: 100%
    }

    // nav list stuff
    ul {
        text-align: center;
        margin: 0;
        padding-left: 0;
    }

    li {
        display: flex;
        padding-left: 0em;
        margin: 0em;
    }

    a {
        padding: 1.2em 6em;
    }
}