// # Permalinks (for each heading)
//
// When you hover on a heading, show the little link.

.post {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        .heading-anchor {
            font-size: 0.75em;
            margin: 0em 0.5em;
            vertical-align: middle;
            text-decoration: none;
            color: $primary;
            background-color: transparent;
        }

        &:hover .heading-anchor,
        &:focus-within .heading-anchor {
            color: $on-primary;
            background-color: $primary;
        }
    }
}
