// TODO: button fix

.post-card {
    background-color: $surface-container-highest;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px; // TODO
    color: $on-surface-variant;
    border-radius: 12pt;
    margin: 2em;
    padding: 2em;
    margin-top: 0;
    overflow: hidden; // keeps buttons on the card. idk why

    // use up the screen on phones
    @media (max-width: 768px) {
        max-width: 100%;
    }

    .post-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;

        // cal icon
        i {
            margin-right: 8pt;
        }
    }

    .post-title {
        font-size: 1.8em;
        font-weight: 900;
        text-decoration: none;

        &:hover,
        &:focus-visible {
            background-color: $inverse-primary;
        }
    }

    .btn-wrapper {
        float: right;
    }
}