{% macro button(label="", type="default", style="default", href="#", other_classes="", left_image="", right_image="", onclick="") %}

{% if type == "default" %}
    <div class="btn-wrapper">
        <a class="btn btn-{{style}} {{other_classes}}" href="{{ href }}" draggable="false">
            {% if left_image != "" %}
                <i class="fa-solid fa-{{left_image}}"></i>
            {% endif %}

            <div class="btn-label">{{label}}</div>
        </a>
    </div>
{% elif type == "extended-fab" %}
    <div class="btn-wrapper" >
        <a class="extended-fab-btn btn-{{style}} {{ other_classes }}" href="{{ href }} draggable="false""  
                {% if onclick != "" %} onclick={{onclick}} {% endif %}>
            {% if left_image != "" %}
                <i class="fa-solid fa-{{left_image}}"></i>
            {% endif %}

            <div class="btn-label">{{label}}</div>

            {% if right_image != "" %}
                <i class="fa-solid fa-{{right_image}}"></i>
            {% endif %}
        </a>
    </div>
{% elif type == "small-fab"%}
    <div class="btn-wrapper" >
        <a class="btn small-fab-btn btn-{{style}} {{other_classes}}" href={{href}} draggable="false">
            <i class="fa-solid fa-{{left_image}} fa-lg"></i>
        </a>
    </div>
{% endif %}

{% endmacro button %}

