{% import "macros/header/nav_list.html" as nav_list %}

{% macro header() %}
    <link rel="stylesheet" href="{{
    get_url(path="header.css", trailing_slash=false) }}" />

    <header class="header">

        <input type="checkbox" id="menu-button-checkbox">

        <div class="nav-container">
            <div class="header-bar">

                <div class="left-section">
                    <img src="{{get_url(path="svg/box.svg",
                        trailing_slash=false)}}" id="header-icon" alt="icon">
                </div>

                <div class="nav-list-container"> 
                    <nav class="navigation">
                        {{ nav_list::nav_list() }}
                    </nav>
                </div>

                <label for="menu-button-checkbox" id="nav-overflow-button">
                    <i class="overflow-icon fa-solid fa-bars fa-lg"></i>
                </label>
            </div>
        </div>
    </header>
{% endmacro header %}