{% import "macros/header/nav_list.html" as nav_list %}

{% macro header() %}
    <link rel="stylesheet" href="{{
    get_url(path="header.css", trailing_slash=false) }}" />

    <header class="header">

        <input type="checkbox" id="menu-button-checkbox" class="cbox">

        <div class="nav-container">
            <div class="header-bar">

                <div class="left-section">
                    <a href={{get_url(path="/", trailing_slash=false)}}>
                        <img src="{{get_url(path="svg/box.svg",
                            trailing_slash=false)}}" id="header-icon">
                    </a>
                </div>

                <div class="nav-list-container"> 
                    <nav class="navigation">
                        {{ nav_list::nav_list() }}
                    </nav>
                </div>

                <div class="right-section">
                    <input type="checkbox" id="dark-light-toggle" class="cbox">

                    <div class="header-buttons">
                        <label for="dark-light-toggle" id="dark-light-toggle-button" class="header-btn">
                            <i class="fa-solid fa-sun fa-lg"></i>
                        </label>

                        <label for="menu-button-checkbox" id="nav-overflow-button" class="header-btn">
                            <i class="overflow-icon fa-solid fa-bars fa-lg"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="mobile-nav-container">
                <nav class="mobile-navigation">
                    {{ nav_list::nav_list(device="phone") }}
                </nav>
            </div>
        </div>


    </header>

    <script charset="utf-8" src="{{
        get_url(path="js/header/mobile.js", trailing_slash=false) }}"> </script>
{% endmacro header %}