{% import "macros/button.html" as button %}

{% macro page_switcher() %}

    {% if paginator %}
        <div class="page-switcher">
            {% if paginator.previous %}
                {{ page_switcher::page_button(type="left") }}
            {% else %}
                {{ page_switcher::page_button(enabled=false, type="left") }}
            {% endif %}

            <p class="page-count">Page {{paginator.current_index}} </p>

            {% if paginator.next %}
                {{ page_switcher::page_button(type="right") }}
            {% else %}
                {{ page_switcher::page_button(enabled=false, type="right") }}
            {% endif %}
        </div>
    {% else %} {% endif %} {# <--- return nothing if there's no paginator! #}

{% endmacro page_switcher %}

{% macro page_button(enabled=true, type) %}

    {# Determine which way to go #}
    {% if type == "left" %}
        {% set href = paginator.previous %}
    {% elif type == "right" %}
        {% set href = paginator.next %}
    {% else %}
        {% set href = paginator.first %}
    {% endif %}

    {% if enabled == true %}
        <div class="btn-wrapper btn-wrapper-tertiary-container">
            <a class="small-fab-btn btn-surface page-btn" href="{{href}}" aria-label="{{type}} one page" draggable="false">
                <i class="fa-solid fa-chevron-{{type}}"></i>
            </a>
        </div>
    {% else %}
        {# return a fake (unclickable) button instead. no shadows! #}
        <div class="btn-wrapper btn-disabled">
            <p class="page-btn small-fab-btn-disabled">
                <i class="fa-solid fa-chevron-{{type}}"></i>
            </p>
        </div>
    {% endif %}

{% endmacro page_button %}