.post {
    max-width: calc(min(900px, 100%));
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4em 0;
    margin: 0 auto;
}

code {
    background-color: $surface-container-highest;
    border-radius: 0.2em;
    padding: 0.2em;
}

pre {
    background-color: $surface-container-low;
    border-radius: 0.4em;
    padding: 0.6em;
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: none;
    scrollbar-width: thin;
    border-radius: 0.8em;

    code {
        background-color: transparent;
        padding: 0;
    }
}

blockquote {
    border-left: 2px solid $primary;
    margin: 0.5em 1em;
    padding: 0.2em;
    padding-left: 1em;
}

// begin table nonsense

table {
    margin: 1em;
    border-radius: 12pt;
    margin: 0 8em;
    overflow: hidden;
}

th {
    background-color: $background;
    color: $on-background;
    font-size: 14pt;
    font-family: "Lora", serif;
    font-weight: 600;
}

td {
    background-color: $surface-container-low;
}

th,
td {
    padding: 0.5em 0;
}

table,
th,
td {
    box-shadow: 0 0 0 1px $surface-variant;
    border-collapse: collapse;
    text-align: center;
}

// end table nonsense

del {
    text-decoration-thickness: 2.4px;
    text-decoration-color: $error;
}

.footnote-reference {

    a,
    a:link {
        color: $primary !important; // sorry
        text-decoration: wavy;
        padding-left: 0.05em;
        font-size: 0.9em;
    }

    a::before {
        content: "["
    }

    a::after {
        content: "]"
    }
}

// selects the first footnote, then inserts extra 
// spacing between it and the conclusion 
//
// (doing it for all of them is ugly)
#\31 .footnote-definition {
    margin-top: 2em;
}

.footnote-definition {
    background: $secondary-container;
    border-radius: 0.8em;
    margin: 0.4em 0;

    display: flex;
    align-items: center;

    .footnote-definition-label {
        text-decoration: underline solid;
        background: $tertiary-container;
        padding: 0.4em 0.8em;
        border-radius: 0.8em;
        margin: 0 0.6em;
    }
}

p img,
object img,
object {
    max-width: 90%;
    max-height: 26em;
    border-radius: 0.8rem;
    margin: auto;
}

// for summary, warning, and any other future "blocky" shortcodes
.textblock {
    border-radius: 0.8em;
    display: block;
    padding: 1em;
    margin: 0.8em 0;

    .textblock-heading {
        padding: 0.2em 0;
        font-size: 18pt;
        font-weight: 700;
    }
}

.summary {
    background: $secondary-container;
    color: $on-secondary-container;
}

.warning {
    background: $warn-container;
    color: $on-warn-container;

    code {
        // i don't like workarounds but this is surprisingly fun
        background-color: $warn-container; // TODO: replace with low -60% saturation, +40 lightness
    }

    a {
        text-decoration-color: $warn;
    }

    a:hover {
        background-color: $warn-container; // TODO: +7% lightness
    }
}


.quoted {
    background: $secondary-container;
    color: $on-secondary-container;
    outline: $secondary;
    width: 80%;
    align-self: center;

    .quoted-heading {
        font-size: 12pt;
    }

    hr {
        color: $primary;
        border-style: solid;
        border-width: 0.5px;
    }
}