$max_width: 42em; // arbitrary. but nice!

.home {
    .box {
        // don't show the massive box on small mobile devices
        display: none;
        max-width: 8em;
    }

    @media (min-width: 768px) {
        // on computers, do a fancy grid layout and display an icon
        display: grid;

        .title-section {
            padding-top: 6em;
            padding-left: 3em;
            grid-column: 1;

            .box {
                display: flex;
            }
        }

        .recent {
            max-width: $max_width;
            width: $max_width;
            grid-column: 2;
        }
    }

    .title {
        font-size: 2.4em;
        font-family: 'Lora', serif;
        font-weight: 400;
        margin: 0;
        padding: 0.5em 0;
    }

    .subtitle {
        padding: 0;
        margin: 0;
        font-weight: 400;
    }

}