.home {
    .title {
        font-size: 2.4em;
        font-family: 'Lora', serif;
        font-weight: 400;
        margin: 0;
        padding: 0.5em 0;
    }

    .subtitle {
        padding: 0;
        margin: 0;
        font-weight: 400;
    }
}