{% extends "base.html" %} 
{% block content %}

<div class="lost-container">
    <img
        id="gif"
        src="https://media.tenor.com/9nr_IfnA8pgAAAAC/pup-head.gif"
        alt="Burnese mountain dog puppy tilting its head back and forth!"
    />

    <h1 class="lost-title">404!</h1>
    <h2>Seems like you're a bit lost...</h2>

    <div class="btn-wrapper btn-wrapper-secondary-container">
        <a class="btn" href="/">
            <div>Wanna go home..?</div>
        </a>
    </div>
</div>

{% endblock content %}
