{% import "macros/header.html" as header %}
{% import "macros/footer.html" as footer %}
{%import "macros/meta_tags.html" as meta_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Handle tab title logic #} 
        {% if page.title %}
            <title>{{page.title}} - {{config.extra.site_name}}</title>
        {% elif section.title %}
            <title>{{section.title}} - {{config.extra.site_name}}</title>
        {% else %}
            <title>{{config.extra.site_name}}</title>
        {% endif %} 

        {# Enable meta tags #}
        {{ meta_tags::meta_tags() }}
        
        {# Enable favicon, if necessary #} 
        {% if config.extra.favicon %}
        <link
            rel="icon"
            href="{{ get_url(path=config.extra.favicon, trailing_slash=false) }}"
            type="image/svg+xml"
        />
        {% endif %} 
        
        <link rel="stylesheet" href="{{ get_url(path="styles.css",
        trailing_slash=false) }}" />

        <link rel="preload" href="{{
            get_url(path="webfonts/Cantarell-VF.woff2", trailing_slash=false) }}" as="font" type="font/woff2" crossorigin> 

        <link rel="preload" href="{{
            get_url(path="webfonts/iosevka-regular-minimal.woff2", trailing_slash=false) }}" as="font" type="font/woff2" crossorigin> 

        <link rel="preload" href="{{
            get_url(path="webfonts/iosevka-bold-minimal.woff2", trailing_slash=false) }}" as="font" type="font/woff2" crossorigin> 

        {# Enable VERY basic analytics #}
        <script data-goatcounter="https://very-cool-club.goatcounter.com/count"
        async src="//gc.zgo.at/count.js">
        </script>

        <noscript>
            <img src="https://very-cool-club.goatcounter.com/count?p=/test-noscript">
        </noscript>

    </head>

    {{ header::header() }}

    <body>
        <section class="section">
            <div class="container">{% block content %} {% endblock %}</div>
        </section>
    </body>

    <footer>
        {{ footer::footer() }}
    </footer>
</html>
