<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Handle tab title logic #} 
        {% if page.title %}
            <title>{{page.title}} - {{config.extra.site_name}}</title>
        {% elif section.title %}
            <title>{{section.title}} - {{config.extra.site_name}}</title>
        {% else %}
            <title>{{config.extra.site_name}}</title>
        {% endif %} 
        
        {# Enable favicon, if necessary #} 
        {% if config.extra.favicon %}
        <link
            rel="icon"
            href="{{ get_url(path=config.extra.favicon, trailing_slash=false) }}"
            type="image/svg+xml"
        />
        {% endif %} 
        
        <link rel="stylesheet" href="{{ get_url(path="styles.css",
        trailing_slash=false) }}" />
        
        <link rel="stylesheet" href="{{
        get_url(path="header.css", trailing_slash=false) }}" />

        <link rel="preload" href="{{
            get_url(path="webfonts/Cantarell-VF.woff2", trailing_slash=false) }}" as="font" type="font/woff2" crossorigin> 

        <link rel="preload" href="{{
            get_url(path="webfonts/iosevka-regular-minimal.woff2", trailing_slash=false) }}" as="font" type="font/woff2" crossorigin> 

        <link rel="preload" href="{{
            get_url(path="webfonts/iosevka-bold-minimal.woff2", trailing_slash=false) }}" as="font" type="font/woff2" crossorigin> 

        {# Enable VERY basic analytics #}
        <script data-goatcounter="https://very-cool-club.goatcounter.com/count"
        async src="//gc.zgo.at/count.js">
        </script>

        <noscript>
            <img src="https://very-cool-club.goatcounter.com/count?p=/test-noscript">
        </noscript>

    </head>

    <header class="main-header">
        <div class="nav-container">


            <nav class="header-bar">

                <div class="left-section">
                    <img src="{{get_url(path="svg/box.svg",
                    trailing_slash=false)}}" id="header-icon" alt="icon">
                </div>

                <div class="center-section">
                <ul class="nav-list">
                    {# Custom navigation listings. Add more in `config.toml`! #}
                    {% if config.extra.header_nav %} {% for s in
                    config.extra.header_nav.get %}
                    <li>
                        {% set url = get_url(path=s.link, trailing_slash=false)
                        %}
                        {% if current_path %}
                            {# Check to see if a section is selected #}
                            {% if current_url | safe | slugify | replace(from="/", to="") 
                                == url | safe | slugify | replace(from="/", to="") %}
                                <a class="nav-button" id="current" href="{{url}}">{{s.name | safe}}</a>
                            {% else %}
                                <a class="nav-button" href="{{url}}">{{s.name | safe}}</a>
                            {% endif %}
                        {% else %}
                            <a class="nav-button" href="{{url}}">{{s.name | safe}}</a>
                        {% endif %} 
                    </li>
                    {% endfor %} {% endif %}
                </ul>
                </div>
            </nav>

            <img src="{{get_url(path="svg/menu.svg",
            trailing_slash=false)}}" id="menu-button" alt="*">
        </div>
    </header>

    <body>
        <section class="section">
            <div class="container">{% block content %} {% endblock %}</div>
        </section>
    </body>

    <footer>
        <link rel="stylesheet" href="{{ get_url(path="footer.css", trailing_slash=false) }}" /> 

        {# copyright info, if you want... see config.toml! #} 
        {% if config.extra.copyright.enable == True %} 
            {% if config.extra.copyright.use_copyleft == True %} 
                {% set rights_icon = "🄯" %} 
            {% else %} 
                {% set rights_icon = "©" %} 
            {% endif %}

        <p class="copyright-info">
            {{rights_icon}} {% if config.extra.copyright.include_author_name ==
            True and config.extra.author %} 
                {{config.extra.author}} 
            {% endif %}
            
            {{now()|date(format="%Y")|int}}
        </p>
        {% endif %}
    </footer>
</html>
