<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Barrett's Club</title>
        <link
            rel="stylesheet"
            href="{{ get_url(path="styles.css",
                trailing_slash=false)
            }}"
        />
        <link
            rel="stylesheet"
            href="{{ get_url(path="header.css",
                trailing_slash=false)
            }}"
        />
    </head>

    <header class="main-header">
        <div class="nav-container">
            <nav class="header-bar">
                <ul class="nav-list">

                    {# Custom navigation listings. 
                    Add more in `config.toml`! #}

                    {% if config.extra.header_nav %}
                        {% for s in config.extra.header_nav.get %}
                    <li>
                        <a href="{{s.link}}">{{s.name}}</a>
                    </li>
                        {% endfor %}
                    {% endif %}
                    
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <section class="section">
            <div class="container">{% block content %} {% endblock %}</div>
        </section>
    </body>
</html>
