{% import "macros/freedom_time.html" as freedom_time %}
{% import "macros/toc.html" as toc %}

{% extends "index.html" %} 
{% block content %} 

<link rel="stylesheet" href="{{ get_url(path="blog-post.css", trailing_slash=false) }}" />

<div class="post">
    <div class="info">
        <div class="date-and-tags">

            {# date: filter folks who hate freedom 🦅 #} 
            <span class="post-date">
                {{ freedom_time::freedom_time(given_date = page.date) }}
            </span>

            <p id="dt-separator">•</p>

            <div class="tags">
                {% if page.taxonomies.tags %} 
                    {% for tag in page.taxonomies.tags %}
                        <a class="tag">{{ tag | truncate(length=20) | safe }}</a>
                    {% endfor %} 
                {% endif %}
            </div>

        </div>

            <h1 class="post-title">{{ page.title | safe }}</h1>

            <div class="post-desc"> {{ page.description | truncate(length=200) | safe }} </div>


            {# Table of Contents #}
            <div class="toc">
            <input type="checkbox" id="toc-cb"></input>

            <div class="toc-list">
                {% for header in page.toc %}
                    {{ toc::toc(header = header, depth_limit=4) }}
                {% endfor %}
            </div>

            {# Custom button b/c of the `label` :p #}
            <div class="btn-wrapper-primary toc-button">
                <label for="toc-cb">
                    <a class="extended-fab-btn">
                        <i class="fa-solid fa-eye toc-btn-icon"></i>
                        Show Table of Contents
                    </a>
                </label>
            </div>


        </div>
    </div>

    {{ page.content | safe }}
</div>
{% endblock content %} 
