{% extends 'base.html' %} 
{% block content %} 

<h1 class="about-title">Contact Info</h1>

<div class="contact-container">
    <h3 id="incomplete">This page is incomplete!</h3>

    <p>For now, you can use these links:</p>

    <div class="links">
        <ul>
            <li><a href="https://www.linkedin.com/in/barrettray" id="linkedin-link">LinkedIn 🏃🏽</a></li>
            <li><a href="https://github.com/onkoe" id="github-link">GitHub 🧑🏽‍💻</a></li>
            <li><a href="https://twitter.com/sanguine_skies" id="twitter-link">Twitter (or 'X') 🕊️</a></li>
            <li><a href="https://crates.io/users/onkoe" id="crates-link">My Crates.io Listing 📦</a></li>
            <li><a href="mailto:contact@barretts.club" id="email-link">Email 📬</a></li>
        </ul>  
    </div>
</div>

{% endblock content %}
