{% import "macros/post_card.html" as post_card %}
{% import "macros/button.html" as button %}

{% extends "base.html" %} 
{% block content %}
    <div class="home">
        <div class="title-section">
            <img class="box" src="{{get_url(path="svg/box.svg")}}" alt="a vector stock image of a cardboard box"></img>
            <h1 class="title">Barrett's Club</h1>
            <h2 class="subtitle">
                Hey there, welcome to my blog! <br />
                Feel free to check out these articles.
            </h2>
        </div>

        <div class="recent surface-container-low">
            <div class="info">
                <div class="left">
                    <h2 class="section-header">Recent Posts</h2> 
                </div>

                <div class="right">
                    {{ button::button(label="See All Posts...", color="primary-container-text", href=get_url(path="posts", trailing_slash=false)) }}
                </div>
            </div>

            <div class="posts-preview-container">
                <ul>
                    {% set posts_section = get_section(path="posts/_index.md") %}
                    {% for page in posts_section.pages | slice(end = 3) %}
                    <li>
                        {{ post_card::post_card(page = page, origin = "homepage") }}
                    </li>
                    {% endfor %}
                </ul>
            </div>      
        </div>
    </div>

{% endblock content %}
