{% import "macros/post_card.html" as post_card %}
{% import "macros/button.html" as button %}

{% extends "base.html" %} 
{% block content %}
    <link rel="stylesheet" href="{{ get_url(path="home_page.css",
        trailing_slash=false) }}" />

    <h1 class="title">Welcome to the Club!</h1>

    <div class="sect-div recent">
        <div class="info">
            <div class="left">
                <h2 class="section-header">Recent Posts</h2> 
            </div>

            <div class="right">
                {{ button::button(label="See All Posts...", color="tertiary", href=get_url(path="posts", trailing_slash=false)) }}
            </div>
        </div>

        <div class="posts-preview-container">
            <ul>
                {% set posts_section = get_section(path="posts/_index.md") %}
                {% for page in posts_section.pages | slice(end = 3) %}
                <li>
                    {{ post_card::post_card(page = page) }}
                </li>
                {% endfor %}
            </ul>
        </div>      
    </div>


    <div class="sect-div top-tags">
        <div class="info">
            <div class="left">
                <h2 class="section-header">Top Tags</h2>
            </div>

            <div class="right">
                {{ button::button(label="See All Tags...", color="tertiary", href=get_url(path="tags", trailing_slash=false)) }}
            </div>
        </div>

        <div class="tags-container"> 
            <p class="soon">Coming Soon!</p>
        </div>
    </div>

    <div class="sect-div longest-posts">
        <div class="info">
            <div class="left">
                <h2 class="section-header">Longest Posts</h2>
            </div>

            <div class="right">
                {{ button::button(label="See All Posts...", color="tertiary", href=get_url(path="posts", trailing_slash=false)) }}
            </div>
        </div>

        <div class="tags-container"> 
            <p class="soon">
                Coming Soon! <br> <br> For the psychopaths in the audience. I'm talking about you, Bob!
            </p>
        </div>
    </div>
{% endblock content %}
