{% extends 'base.html' %} {% block content %}
<h1 class="title">{{ section.title }}</h1>
<ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% for page in section.pages %}
    <li>
        <div class="post-preview">
            <a class="post-title" href="{{ page.permalink|safe }}"
                >{{ page.title }}</a
            >
            <p class="post-timestamp">{{ page.date }}</p>
            <p class="post-description">{{ page.description }}</p>

            <div class="post-tags-container">
                {% if page.taxonomies.tags %} {% for tag in page.taxonomies.tags
                %}
                <p class="post-tag">{{ tag }}</p>
                {% endfor %} {% else %}
                <p class="post-tag">No tags.</p>
                {% endif %}
            </div>

            <div class="read-more">
                <a href="{{ page.permalink }}">Read more...</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
