{% import "macros/button.html" as button %} 
{% import "macros/page_switcher.html" as page_switcher %}
{% import "macros/freedom_time.html" as freedom_time %}
{% import "macros/post_card.html" as post_card %}

{% extends 'base.html' %} 
{% block content %} 

<div class="section-info">
    <h1 class="title">{{ section.title | safe }}</h1>

    {% if section.description %}
        <h2 class="desc">{{ section.description | safe }}</h2>
    {% endif %}
</div>

<div class="preview-container">
    <ul>
        {% for page in paginator.pages %}
        <li>
            {# reminder: changing this also requires changing tags/*.html #}
            {{ post_card::post_card(page = page, origin = "posts-page") }}
        </li>
        {% endfor %}
    </ul>
</div>

{{ page_switcher::page_switcher() }}

{% endblock %}
