@import "../colors.scss";

[class^="language-"] {
    font-family: "Iosevka", monospace;
    font-size: 12pt;
    //background: white;
    color: var(--secondary-container-text);

    .z-storage,
    .z-type {
        color: var(--primary);
        font-weight: 700;
    }

    .z-string {
        color: var(--codeblock-string);
    }

    .z-operator,
    .z-assignment,
    .z-keyword {
        color: var(--secondary);
    }

    .z-constant,
    .z-language {
        color: var(--tertiary);
    }

    .z-comment {
        color: var(--outline);
    }

    .z-support {
        color: var(--error);
    }
}

.language-console {

    font-feature-settings: "calt" 0; // get rid of weird arrow (⤳) on fish shell's "barrett@fedora ~>"

    .z-text,
    .z-plain,
    .z-code {
        color: var(--primary);
    }
}