@import "../colors.scss";

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center; // centered column
    height: 3.6em;
    margin: 0;


    #current {
        text-decoration: solid;
        text-decoration-line: underline;
        text-decoration-thickness: 0.12em;
        text-underline-offset: 0.3em;
        background: $tertiary-container;
        outline: $outline;
        outline-width: 0.1em;
    }

    #current:hover {
        background-color: $tertiary;
        color: $secondary-text;
    }

    // nav list stuff
    ul {
        text-align: center;
        margin: 0em;
        padding-left: 0;
    }

    li {
        display: inline-flex;
        padding-left: 0em;
        margin: 0em;
    }

    a {
        display: block;
        padding: 1.2em 1.5em;
        font-weight: 500;
        text-decoration: none;
    }

    a:hover {
        background-color: $secondary;
        color: $secondary-text;
    }

}