{% import "macros/button.html" as button %} 

{% macro nav_list(device="computer") %}
    {% if device == "computer" %}
        <ul class="nav-list">
    {% else %}
        <ul class="nav-list-mobile">
    {% endif %}

        {# Custom navigation listings. Add more in `config.toml`! #}
        {% if config.extra.header_nav %} 
            {% for s in config.extra.header_nav.get %}
                <li>
                    {% set url = get_url(path=s.link, trailing_slash=false) %}
                    {% if current_path %}
                        {# Check to see if a section is selected #}
                        {% if current_url | safe | slugify | replace(from="/", to="") == url | safe | slugify | replace(from="/", to="") %}
                            {{ button::button(label=s.name | safe, style="text", href=url, other_classes="current") }}
                        {% else %}
                            {{ button::button(label=s.name | safe, style="text", href=url) }}
                        {% endif %}
                    {% else %}
                        {{ button::button(label=s.name | safe, style="text", href=url) }}
                    {% endif %} 
                </li>
            {% endfor %} 
        {% endif %}
    </ul>
{% endmacro nav_list %}